* {
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  border: black solid 1px;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  width: 1515px;
}

.html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  margin-left: 15px;
}

.listadetags {
  margin-left: 15px;
}

.menu {
  text-decoration: none;
  margin-left: 15px;
  border: lightseagreen solid;
  border-radius: 10%;
}

section {
  display: flex;
  border: black solid 1px;
  margin-top: 10px;
  width: 1515px;
}