* {
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(34, 30, 30);
  color: white ;
}

button {
  margin-left: 15px;
  border: yellow solid 2px;
  border-radius: 10%;
}

button:hover {
  border: transparent;
}

.container {
  display: flex;
  border: black solid 1px;
  border-radius: 1%;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  width: 1500px;
}

.html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
  margin-left: 15px;
}

.listadetags {
  margin-left: 15px;
}

.menu {
  text-decoration: none;
}

section {
  display: flex;
  border: black solid 1px;
  border-radius: 5%;
  margin-top: 10px;
  width: 800px;
  flex-wrap: wrap;
}